<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="Tema" value="tema1"/>
    <add key="Tema2" value="tema2"/>
    <add key="Tema5" value="tema4"/>
  </appSettings>
</configuration>